.common-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	color: white;
	background-color: #e0242c;
	border: none;
	border-radius: 0.5rem;
}

.common-btn__text {
	padding: 0 1rem;
	white-space: nowrap;
}

.common-btn__icon {
	height: 75%;
	padding: 0.25rem;
}
