.group-container .group__title {
	height: 2rem;
	padding-left: 1rem;
	font-size: var(--small-font-size);
	color: var(--font-light-gray-color);
}

.group-container .group__list {
	padding: 0 0 2rem 0;
}

/* GROUP ITEM */

.group-container .group__list .group__item {
	display: flex;
	flex-direction: row;
	position: relative;
	height: 3rem;
	gap: 0.75rem;
	color: var(--font-gray-color);
	align-items: center;
	z-index: 1;
}

.group-container .group__list .group__item::before {
	content: "";
	position: absolute;
	inset: 0;
	background: linear-gradient(to right, rgba(255, 255, 255, 0.2), transparent);
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	z-index: 0;
}

.group-container .group__list .group__item:hover::before {
	opacity: 0.2;
}

/* LEFT-BORDER */

.group-container .group__list .group__item .item__left-border {
	position: absolute;
	width: 0.3rem;
	border-radius: 0;
	height: 0;

	opacity: 0;
	background-color: red;
	transition: opacity 0.3s ease-in-out, height 0.2s ease-in-out,
		border-radius 0.1s ease-in-out;
}

.group-container .group__list .group__item:hover .item__left-border {
	opacity: 1;
	height: 3rem;
	border-radius: 0 5rem 5rem 0;
}

/* ITEM ICON */

.group-container .group__list .group__item .item__icon {
	padding-left: 1rem;
	text-align: center;
}

.group-container .group__list .group__item:hover .item__icon {
	color: red;
}

.group-container .group__list .group__item .item__label {
	font-size: var(--medium-font-size);
}

/* ITEM LABEL */

.group-container .group__list .group__item:hover .item__label {
	color: var(--font-light-color);
}
