.layout {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

/*-------------------------------------------------*/
/*-------------------- CONTENT --------------------*/
/*-------------------------------------------------*/

.content {
	width: 100%;
	overflow-y: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
	background: var(--std-bg-color);
}

.content::-webkit-scrollbar {
	display: none;
}

/*---------- CONTENT-HEADER ----------*/

.content .content-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 2rem;
	height: 100%;
	max-height: 6rem;
	border-bottom: 1px solid var(--border-color);
}

/* PROFILE */

.content .content-header .profile {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
	display: flex;
	flex-direction: row;
}

.content .content-header .profile .profile__name {
	color: var(--font-light-color);
	font-size: var(--small-font-size);
	font-weight: var(--font-semi-bold);
	font-family: var(--pattern-font);
}

.content .content-header .profile .image-mask {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	overflow: hidden;
	display: inline-block;
}
.content .content-header .profile .image-mask .profile__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*---------- CONTENT-CONTAINER ----------*/

.content .content-container {
	display: flex;
}

/* MAIN-CONTENT */

.main-content {
	width: calc(100% - 16rem);
	height: calc(100vh - 6rem);
	padding: 2rem;
}

/* CONTENT-SIDEBAR */

.content-sidebar {
	width: 16rem;
	right: 0;
	background-color: var(--sidebar-bg-color);
	border-left: 1px solid var(--border-color);
	overflow-y: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.content-sidebar::-webkit-scrollbar {
	display: none;
}
