/* .open-sans-600 {
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	font-variation-settings: "wdth" 100;
} */

.nunito-sans-500 {
	font-family: "Nunito Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	font-variation-settings: "wdth" 100, "YTLC" 500;
}

.nunito-sans-500-medium {
	font-family: "Nunito Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-size: var(--medium-font-size);
	transform: scale(0.9);
	font-style: normal;
	font-variation-settings: "wdth" 100, "YTLC" 500;
}

.nunito-sans-600 {
	font-family: "Nunito Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	font-variation-settings: "wdth" 100, "YTLC" 500;
}

.nunito-sans-700 {
	font-family: "Nunito Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	font-variation-settings: "wdth" 100, "YTLC" 500;
}

.notable-regular {
	font-family: "Notable", sans-serif;
	font-weight: 400;
	font-style: normal;
}
