:root {
	/* FONT SIZES */
	--small-font-size: 0.75rem;
	--medium-font-size: 1rem;
	--large-font-size: 1.5rem;
	--x-large-font-size: 2rem;
	--giant-font-size: 2.5rem;

	/* FONT COLORS */
	--font-dark-color: black;
	--font-gray-color: rgba(190, 190, 190, 0.6);
	--font-light-gray-color: #cfcfcf;
	--light-color: white;

	/* FONT WEIGHTS */
	--font-semi-bold: 600;

	/* INPUT BORDER RADIUS */
	--input-border-radius: 0.5rem;

	/* COLORS */
	--border-color: #1c2424;
	--bg-color: #080a0b;

	/* Z-INDEX */
	--common-zi: 0;
}

/* RESET CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;

	font-family: "Nunito Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: "wdth" 100, "YTLC" 500;

	scrollbar-width: none;
	-ms-overflow-style: none;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	overflow-x: hidden;
	overflow-y: auto;
}

body::-webkit-scrollbar {
	display: none;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

button {
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
ol {
	list-style: none;
}
