.drawer {
	width: 100%;
	max-width: 14rem;
	height: 100vh;
	background-color: var(--std-bg-color);
	border-right: 1px solid var(--border-color);
	overflow-y: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.drawer::-webkit-scrollbar {
	display: none;
}

.drawer .drawer__logo {
	max-width: 50%;
	display: flex;
	margin: 0 auto;
}

.drawer .drawer__groups {
	display: flex;
	flex-direction: column;
	/* padding: 0 2rem; */
}
